# dependencies
/server/node_modules
/client/node_modules

# enviroment
/server/.env
/client/.env

# build
/client/build
/server/build

# uploads
client/public/uploads/*
server/uploads/*

# certificate
/server/.ssl

# cache
/.idea
/server/.idea
/client/.idea
/client/.eslintcache
/client/yarn.lock
/client/package-lock.json
/server/package-lock.json

# ------------------
notes.txt
nohup.out
client/nohup.out
server/nohup.out


