# dependencies
/server/node_modules
/client/node_modules

# enviroment
/server/.env
/client/.env

# uploads
server/uploads/*

# certificate
server/.ssl

# ------------------

/.idea
/server/.idea
/client/.idea
/client/.eslintcache
/client/yarn.lock
/client/package-lock.json
/server/package-lock.json